<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Export PDF</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
<h1>Export PDF</h1>

<table>
    <thead>
    <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in data %}
        <tr>
            {% for column in columns %}
                <td>{{ row[column.nameAs] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
